.pds-container {
    width: 1000px; /* Legal paper width */
    min-height: 1056px; /* Legal paper height */
    margin-left: 250px; /* Pushes it to the right */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 30px;
    font-family: 'Arial', sans-serif;
}

.section-title {
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px solid #000;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.pds-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
}

.pds-table td {
    border: 1px solid #000;
    padding: 4px 6px;
    vertical-align: middle;
    
}

.pds-section-header {
    font-weight: bold;
    font-size: 15px;
    background-color: #f0f0f0;
}

.pds-label {
    background-color: #e0e0e0 !important;
    font-weight: bold;
    padding: 6px 8px;
    font-size: 11px;
    vertical-align: middle;
}



.pds-input-borderless {
    width: 100%;
    height: 28px;
    font-size: 14px;
    border: none;
    outline: none;
    padding: 2px 4px;
    background-color: transparent;
}

.small-dropdown {
    padding: 2px 6px;
    font-size: 0.85rem;
    width: 150px;
    height: 30px;
}


.address-input {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    width: 100%;
    font-size: 14px;
    padding: 5px 8px 2px;
    background-color: transparent;
    text-align: center;
}

.address-input:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #00acf0;
}

.address-label {
    font-size: 13px;
    margin-top: 2px;
    text-align: center;
    font-weight: bold;
}

table {
    table-layout: fixed;
    width: 100%;
}




